ficsgamesdb_2017_standard_nomovetimes_34352.pgn.bz2
lichess_db_standard_rated_2018-10.pgn.bz2
chess - chess tempo openings database.csv
alphazero_stockfish_all
FICS_deciles.csv
FICS_data_fixed.csv
a.csv
E:\chessdb\chess - chess tempo openings database.csv
.vscode
.ipynb_checkpoints
alpha0_fixed.csv
alpha0.csv
alpha0_df.csv
__pycache__/
FICS_data_fixed_df.csv